*,
*:before,
*:after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html,
body {
  max-width: 100vw;
  font-size: 16px;
  font-family: sans-serif;
}

button,
input {
  cursor: pointer;
}

.App {
  width: 100%;
  min-height: 100vh;
  color: #4c768d;
}